.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 80px !important;
}

@media screen and (max-width: 1281px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
}

@media screen and (max-width: 732px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #1a1a1a !important;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border: 1px solid;
  border-width: 1px 0px 1px 0px;
  border-color: #242424 !important;
  width: 260px !important;
  height: 346px !important;
}

.card-image {
  height: auto;
  margin-bottom: 10px;
}

.card-heading {
    
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  color: grey;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif sans-serif;
}

.card-description {
  font-size: 19px;
  color: #666;
  font-family: outfit sans-serif;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: white;

  /* Create the gradient. */
  font-size: 33px;
  background-image: linear-gradient(
    45deg,
    grey 16.666%,
    grey 16.666%,
    wheat 33.333%,
    grey 33.333%,
    wheat 50%,
    grey 50%,
    grey 66.666%,
    wheat 66.666%,
    wheat 83.333%,
    white 83.333%
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
}

