* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans' , sans-serif;
  scroll-behavior: smooth;

}

.bg {
  background-image: url('./Image/wp7573442-black-blank-wallpapers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}